@font-face {
            font-family: Maestro;
            src: url(MaestroRegular.ttf);
        }
        @font-face {
            font-family: OsgardPro;
            src: url(OsgardPro.otf);
        }
          @font-face {
            font-family: AndersonGrotesk;
            src: url(AndersonGrotesk.otf);
        }
        @font-face {
            font-family: AndersonGrotesk;
            src: url(AndersonGrotesk-Ultrabold.otf);
            font-weight: bold;
        }
        @font-face {
            font-family: Born;
            src: url(Born.otf);
        }
        body {
            background-color: hsl(47, 70%, 91%);
        }
        h1 { 
            font-size: 89.76px;
            color: #dbea8b;
            font-family: AndersonGrotesk;
        }
        h2 {
            font-size: 67.344px;
            color: #daabc9;
            font-family: AndersonGrotesk;
        }
        p {
            font-size:  28.432px;
            word-wrap: break-word;
            text-align: justify;
            color: #020304;
            font-family: Born;
            line-height:;
        }
        p.caption {
            font-family: Born;
            font-size: 16px;
            color: #442222;
            text-align: center;
        }
        em {
            color: #8088a5;
        }
        mark {
            background-color: #b0f0de;
            color: #020304;
        }
        #content {
            width: 80%;
            height: auto;
            padding-left: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
            padding-right: 10%;
        }
        img {
            width: 100%;
        }